[Unit]
Description=Gaiad (Cosmos) node telemetry exporter
After=network.target
StartLimitIntervalSec=0

[Service]
User=telemetry
Group=telemetry
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/opt/telemetry
EnvironmentFile=/etc/sysconfig/gaiad_telemetry
ExecStart=/opt/telemetry/gaiad_telemetry

CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=true
PrivateUsers=true
ProtectSystem=strict
ProtectHome=yes
ProtectClock=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectHostname=true
RemoveIPC=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictSUIDSGID=true
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallFilter=~@resources
SystemCallErrorNumber=EPERM
UMask=0022
ProcSubset=pid
PrivateNetwork=false

[Install]
WantedBy=multi-user.target